###############
#    folder   #
###############
_site
origin_site
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/csx/
/**/obj/
/**/xdocoutput/
/**/node_modules/
/**/*.sln.ide/
/TestResults/
/.vs/
.NuGet/
artifacts/
target/
/**/_site/
.vscode/
.vs/
/_exported_templates

###############
#  temp file  #
###############
*.nupkg
*.log
*.tmp
*.vsprops
*.suo 
*.user
*.userprefs
*.sdf
*.sln.ide
*.cache
*.sln.metaproj
.gitattributes
.settings
log.txt
debugSettings.json
launchSettings.json
project.lock.json
*.sublime-workspace
_exported_templates
/**/toc-temp*
vuepress
yarn.lock
temp.ps1
*-temp*
